.inicio {
    background-color:aqua ;
    text-align: center; 
    font-family: Cambria;
    font-style: oblique;
    font-weight: bold;
    font-variant: small-caps;
}

.login { 
    background-color: bisque;
    
}

.resal {
        color: rgb(3, 70, 66);
}

#tlogin {color: brown; 

}

.cuadro {border-width: 1px;
        border-style: inset;
        border-color: black;
        
        border-top-style: dotted;
        border-bottom-style: dotted;
        border-top-color: blue;
        border-bottom-color: blue;
        padding: 8px;

}

.ejemplo {
        border-style: solid;
        border-width: 1px;
        border-color: brown;

        padding: 5px;
        margin: 0px;
}

#azul {
        color: blue;
}

.lista {
        list-style-type: disc;
        list-style-image: url(./imagen/flecha.png);
        list-style-position: inside;
}

.cuerpopython {
        background-image: url(./imagen/python.png);
        background-repeat: no-repeat;
        background-position: 370px 0px;
}


